<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Reservatório" tabIcon="water"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Controle" tabIcon="switch"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Configurações" tabIcon="cog"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Ajuda" tabIcon="help-buoy"></ion-tab>
</ion-tabs>

