<ion-header>
  <ion-navbar>
    <button ion-button menuToggle block>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Configurações</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <button ion-item (click)="abrirPaginaAjusteReservatorio()">
      <ion-icon name="water" item-start></ion-icon>
      Ajustes
    </button>
    <!--button ion-item (click)="abrirPaginaFusoHora()">
      <ion-icon name="time" item-start></ion-icon>
      Hora
    </button-->
    <button ion-item (click)="abrirPaginaAlarme()">
      <ion-icon name="alert" item-start></ion-icon>
      Alertas
    </button>
    <button class=botoes ion-item (click)="abrirPaginaRestaurar()">
      <ion-icon name="nuclear" item-start></ion-icon>
      Restaurar
    </button>    
    <button class=botoes ion-item (click)="abrirPaginaProcurarReservatorios()">
      <ion-icon name="beaker" item-start></ion-icon>
      Adicionar/Remover Reservatório
    </button>    
  </ion-list>
</ion-content>