<ion-header>
  <ion-navbar>
    <button ion-button menuToggle block>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Ajustes</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-card>
    <ion-item>
      <ion-icon item-start name="beaker"></ion-icon>
      <ion-label>Litros</ion-label>
      <ion-input [(ngModel)]="litro" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon item-start name="create"></ion-icon>
      <ion-label>Nome</ion-label>
      <ion-input [(ngModel)]="nome" type="text"></ion-input>
    </ion-item>
    <button full ion-button color="primary" (click)="gravar()">
      <ion-icon item-start name="refresh-circle"></ion-icon>
      Atualizar
    </button>
  </ion-card>

</ion-content>