<ion-header>
  <ion-navbar>
    <button ion-button menuToggle block>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Página inicial</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    {{water}}
  </ion-card>

  <!--ion-range min="0" max="390" step="1" snaps="true" [(ngModel)]="liquido" debounce="1">
    <ion-icon range-left small name="sunny"></ion-icon>
    <ion-icon range-right name="sunny"></ion-icon>
  </ion-range-->
  <ion-card>
    <div id="container">
      <div id="glass">
        <div [ngStyle]="{'height' : liquido + 'px'}" id="liquido">
        </div>
      </div>
    </div>
  </ion-card>

  <ion-card>
    <ion-badge>
      Restante: {{percentual}} %
    </ion-badge>
    <br/>

    <ion-badge>
      Litros: {{(percentual/100)*litrosMax}} L
    </ion-badge>
    <br/>

    <ion-badge color="secondary">
      Máximo: {{litrosMax}} L
    </ion-badge>
    <br/>
  </ion-card>

  <ion-card>

    <ion-img [hidden]="bombaLigada == false" style="background: transparent !important;" width="90" height="45" src="assets/imgs/bomba_dagua_on.png"></ion-img>

    <ion-img [hidden]="bombaLigada" style="background: transparent !important;" width="90" height="45" src="assets/imgs/bomba_dagua_off.png"></ion-img>

    {{infoBomba}}
  </ion-card>
</ion-content>