<ion-header>

  <ion-navbar>
    <ion-title>{{titulo}} Indisponível</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style="text-align: center;">
  <p>
    O dispositivo de nome {{titulo}} está indisponível.
    <br/> Por favor, verifique se o(a) {{titulo}} encontra-se
    <br/> ligado(a) e conectado(a) na rede wifi.
  </p>
</ion-content>