page-recuperar-end {

}

.texto{
    color:white;
    margin-top: 20px;
}

.paginaRecuperarEnds{
    background: url('../assets/imgs/circuitoanimado0002.gif') no-repeat;
    background-size: 100% 100%;
}