<ion-header class="headerIonicApp">

  <ion-navbar>
    <ion-title>Falha de comunicação</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding text-center class="paginaRecuperarEnds">

  <!--ion-img style="margin-top: 60px; background: transparent !important;" 
  width="100" height="180" src="assets/imgs/peixe00.png"></ion-img-->

</ion-content>