<ion-header class="headerIonicApp">

  <ion-navbar hideBackButton *navbar>
    <ion-title>Restaurar</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding text-center class="paginaRecarregar">

  <ion-img style="margin-top: 20%; background: transparent !important;" 
  width="100" height="180" src="assets/imgs/peixe00.png"></ion-img>

  <p class="texto">
    Não foi possível se comunicar com a luminária.
    <br/> Por favor, verifique se ela encontra-se ligada e conectada a rede wifi.
  </p>

  <button [hidden]="!botaoVisivel" ion-button full color="primary" (click)="reconectar()" round>
    Tentar novamente ?
  </button>
  
  <button ion-button icon-left full color="danger" (click)="confirmacaoReset()" round>
    <ion-icon name="nuclear"></ion-icon>
    Reiniciar Configurações
  </button>
</ion-content>