<ion-header class="headerIonicApp">

  <ion-navbar>    
    <ion-title>Localizando a luminária...</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="bodyIonicApp">
  <ion-card>
    <ion-card-header>
      Restaurar
    </ion-card-header>
    <ion-item>
      Restaura as configurações de
      <br/>fábrica.
      <br/>
    </ion-item>

    <ion-item>
      <button ion-button icon-left full color="danger" (click)="confirmacaoReset()" round>
        <ion-icon name="nuclear"></ion-icon>
        Reiniciar Configurações!
      </button>
    </ion-item>
  </ion-card>

  <!--button ion-button icon-left full color="secondary" (click)="mostrarPaginaRoot()">   
    Print Página Root
  </button-->

</ion-content>