<ion-menu type="reveal" [content]="content">
    <ion-header class="cabecalho">
        <ion-toolbar color=appDark>
            <ion-title>Reservatórios</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content class="menu">
        <ion-list>
            <button ion-item *ngFor="let reservatoio of reservatorios; let ix = index" class="botoesMenu" [disabled]="reservatorio.status == false || reservatorio.selecionada == true"
                (click)="conectarLuminaria(ix)" menuClose>
                <ion-icon name="bulb" style="text-align: start;"></ion-icon>
                {{luminaria.alias}}
                <ion-icon name="arrow-dropleft-circle" style="text-align: end; float: right;" color=dark></ion-icon>
                <ion-icon name="link" style="text-align: end; float: right; margin-right: 8px;" [hidden]="!luminaria.link || luminaria.selecionada" color=sol></ion-icon>
                <ion-icon name="link" style="text-align: end; float: right; margin-right: 8px;" [hidden]="!luminaria.link || !luminaria.selecionada" color=white></ion-icon>
            </button>
            <button ion-item menuClose class="fechar">
                Fechar
            </button>
        </ion-list>

    </ion-content>
</ion-menu>

<ion-nav #content [root]="rootPage" persistent=true swipeBackEnabled="false"></ion-nav>
