<ion-header>
  <ion-navbar>
    <button ion-button menuToggle block>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Controle do Nível {{segmento}}</ion-title>
  </ion-navbar>  
  <ion-toolbar>
    <ion-segment [(ngModel)]="segmento" (ionChange) = "ligarDesligarAutomatico()">
      <ion-segment-button value="Manual">
        <ion-icon name="hand"></ion-icon>
        Manual
      </ion-segment-button>
      <ion-segment-button value="Automático">
        <ion-icon name="speedometer"></ion-icon>
        Automático
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [hidden]="segmento == 'Manual'" padding>
  <ion-item>
    <ion-label>Nível (Litros)</ion-label>
    <ion-multi-picker [(ngModel)]="nivel" (ionChange)="configurarNivel()" item-content [multiPickerColumns]="opcoes" cancelText="Cancelar"
      doneText="Selecionar"></ion-multi-picker>
  </ion-item>
</ion-content>

<ion-content padding [hidden]="segmento == 'Automático'" padding>
  <ion-item>
    <ion-label style="font-size: 14px">Bomba Ligada/Desligada</ion-label>
    <ion-toggle color="secondary" (ionChange)="ligarDesligarBomba()" [ngModel]="bombaLigada"></ion-toggle>
  </ion-item>
</ion-content>