<ion-header>

  <ion-navbar>
    <ion-title>Configuração Inicial</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-slides pager>

    <ion-slide style="background-color: green">
      <h2>Quantos litros tem o reservatório?</h2>
        <ion-icon item-start name="beaker"></ion-icon>
        <ion-label>Litros</ion-label>
        <ion-input [(ngModel)]="litro" type="text"></ion-input>
      <button [hidden]="!litro" ion-button round outline color="primary" (click)="goToSlide(1)">
        <ion-icon item-start name="refresh-circle"></ion-icon>
        Próximo
      </button>
    </ion-slide>

    <ion-slide style="background-color: blue">
      <h2>Qual é a Identificação (nome) do reservatório?</h2>
      <ion-label>Nome</ion-label>
      <ion-input [(ngModel)]="nome" type="text"></ion-input>
      <button [hidden]="!nome" ion-button round outline color="primary" (click)="goToSlide(2)">
        <ion-icon item-start name="refresh-circle"></ion-icon>
        Próximo
      </button>
    </ion-slide>

    <ion-slide style="background-color: white">
      <h2>Começe a usar</h2>
      <button ion-button round color="primary" (click)="pronto()">
        <ion-icon item-start name="refresh-circle"></ion-icon>
        Pronto!
      </button>
    </ion-slide>

  </ion-slides>

</ion-content>