<ion-header>

  <ion-navbar>
    <ion-title>Alarme de Nível</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-item>
      <ion-label>Notificação Push</ion-label>
      <ion-toggle color="secondary" (ionChange)="ligarDesligarAlarme()" [ngModel]="ligado"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Nível Mínimo</ion-label>
      <ion-multi-picker [(ngModel)]="nivelMin" (ionChange)="checarNivelMin()" item-content [multiPickerColumns]="opcoes"
        #tempMinOpt cancelText="Cancelar" doneText="Selecionar"></ion-multi-picker>
    </ion-item>

    <ion-item>
      <ion-label>Nível Máximo</ion-label>
      <ion-multi-picker [(ngModel)]="nivelMax" (ionChange)="checarNivelMax()" item-content [multiPickerColumns]="opcoes"
        #tempMaxOpt cancelText="Cancelar" doneText="Selecionar"></ion-multi-picker>
    </ion-item>
  </ion-card>
</ion-content>