<ion-header>

  <ion-navbar>
    <ion-title>Acesso Negado</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style="text-align: center;">
  <p>
    Acesso negado a este(a) {{titulo}}!
  </p>
</ion-content>